@use '../../../../styles/variables.scss' as vars;
// .sheet-table {
//     display: flex;
//     flex-direction: column;
//     // overflow-y: auto;
//     /* Enable vertical scrolling */
//     max-height: 400px;

//     /* Adjust based on your layout */
//     .sheet-header {
//         display: flex;
//         flex-direction: row;
//         padding: 1.5rem 2rem;
//         background: #1E49E2;
//         gap: 25px;
//         top: 0;
//         /* Stick header to the top */
//         z-index: 10;
//         position: relative;
//         &:before,&:after{
//             content: "";
//             position: absolute;
//             background: #1E49E2;
//             height: 100%;
//             width: 100%;
//             top: 0;
//         }
//         &:before{
//             left: -100%;
//         }
//         &:after{
//             right: -100%;
//         }
//         div {
//             display: flex;
//             justify-content: space-between;
//         }


//     }

    .account {
        min-width: 280px;
    }

//     .balance {
//         // min-width: 200px;
//         display: flex;
//         justify-content: flex-end;

//         span>i {
//             font-size: 30px;
//             position: absolute; 
//             top: -5px;
//             right: 4px;
//         }
//     }

    .tools {
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 10px;
        white-space: nowrap;
        span {
            padding: 3px 10px;
            border-radius: 20px;
            font-size: vars.$font-14;
        }
    }

//     .sheet-columns {
//         display: flex;
//         flex-direction: column;
//         overflow-y: auto;

//         /* Vertical scrolling for rows */
//         .sheet-row {
//             display: flex;
//             flex-direction: row;
//             padding: 10px 2rem;
//             gap: 25px;
//             align-items: center;
//             td{
//                 &:first-child,&:nth-of-type(2){
//                     position: sticky;
//                     left: 10px;
//                     z-index: 99;
//                 }
//                 &:first-child{
//                     min-width: 250px;
//                 }
//                 &:nth-of-type(2){
//                     left: 260px;
//                 }
//             }
//             &:nth-child(odd){
//                 background: vars.$bg-header;
//                 position: relative;
//             }
//             &:hover{
//                 background: vars.$gradiant4;
//             }
//         }
//     }
// }

// .sticky-column {
//     position: sticky;
//     left: 0;
//     /* Stick the column horizontally */
//     z-index: 5;
//     // min-width: 150px;
//     /* Set the width of sticky columns */
//     text-align: left;
//     padding: 5px;
//     font-size: vars.$font-14;
// }

// .scrollable-column {
//     flex: 1;
//     // overflow-x: auto;
//     /* Horizontal scrolling for this column */
//     white-space: nowrap;
//     text-align: left;
//     padding: 5px;
// }

// /* Add horizontal scrolling for the "Top Audit Technologies Used" column */



// /* For Firefox */
// .sheet-table,
// .scrollable-column {
//     scrollbar-width: thin;
//     scrollbar-color: #b3b3b3 transparent;
// }




  .table-scroll {
    position: relative;
    width:100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
  }
  .table-scroll table {
    // width: 2000px;
    min-width: 1280px;
    margin: auto;
  /*   table-layout: fixed; */
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .table-scroll th,
  .table-scroll td {
    padding: 15px 10px;  
    font-size: vars.$font-14;
    
    vertical-align: middle;
  }
  
  



  

  
  td:nth-child(1), td:nth-child(2){
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    
  }
  

  
  tbody td:nth-child(1) { left: 0; }
  tbody td:nth-child(2) { left: 280px; }

  
  table .sticky-cells {
    z-index: 5;
  }
  
  .th-stockprices { width: 85px; }





      .sheet-header {
        position: relative;
        tr{
            th{
                padding: 1.5rem 2rem;
                background: #1E49E2;
                /* Stick header to the top */
                z-index: 10;
                position: sticky;
                left: 0;
                top: 0;
                &:nth-of-type(2){
                    left: 280px;
                }
                &:last-child{
                    left: 450px;
                    z-index: 1;
                }
            }
        }
        // &:before,&:after{
        //     content: "";
        //     position: absolute;
        //     background: #1E49E2;
        //     height: 100%;
        //     width: 100%;
        //     top: 0;
        // }
        // &:before{
        //     left: -100%;
        // }
        // &:after{
        //     right: -100%;
        // }
        // div {
        //     display: flex;
        //     justify-content: space-between;
        // }


    }

        .sheet-columns {
        

        /* Vertical scrolling for rows */
        .sheet-row {
            background-color: #0C233C;
            td{
                padding: 1.5rem 2rem;
                &:nth-of-type(1),
                &:nth-of-type(2){
                    background-color: #0C233C;
                }
                &:nth-of-type(2){
                    text-align: right;
                }
            }
            &:hover{
                td{
                    &:nth-of-type(1),
                    &:nth-of-type(2){
                        background: #2F4ADD;
                    }   
                }
            }
            
            &:nth-child(odd){
                background: vars.$bg-header;
                position: relative;
                td{
                    &:nth-of-type(1),
                    &:nth-of-type(2){
                        background: vars.$bg-header;
                    }
                }
                &:hover{
                    td{
                        &:nth-of-type(1),
                        &:nth-of-type(2){
                            background: #2F4ADD;
                        }   
                    }
                }
            }
            
            &:hover{
                background: vars.$gradiant4;
            }
        }
    }

        .balance {
        min-width: 200px;
        span>i {
            font-size: 30px;
            position: absolute; 
            top: 50%;
            transform: translateY(-50%);
            right: 4px;
        }
    }
    .table_wrap{
        position: relative;
        &:before,&:after{
            content: "";
            position: absolute;
            background: #1E49E2;
            height: 69px;
            width: 100%;
            top: 0;
        }
        &:before{
            left: -100%;
        }
        &:after{
            right: -100%;
        }
    }