 .container {
     display: flex;
     flex-direction: column;

     .tool-container {
         display: flex;
         flex-direction: column;

         .header {
             display: flex;
             flex-direction: row;

             img {
                 width: 150px;
                 height: 120px;
             }
         }

         .footer {
             display: flex;
             flex-direction: row;
         }
     }
 }