@use './variables.scss' as vars;

body{
    font-family: vars.$fontfamily;
    background-color: vars.$bg-blue !important;   
    
    font-size: vars.$font-body;
    padding: 0;  
    color: vars.$bg-white !important; 
    
}
p,h1,h2,h3,h4,h5{
    font-family: vars.$fontfamily;
    font-size: vars.$font-body;
}

a{
    text-decoration: none !important;
    color: vars.$fontcolor !important;
}
.card-widget{
    border: none;
    border-radius: 0 !important;
    height: 100%;
}
.card{
    border-radius: 0 !important;
    // height: 100%;
    color: vars.$bg-white;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 10px !important;
    border: none !important;
    font-size: 24px;
    font-weight: 700;
    border: none;
    .icon_ {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .title {
        font-size: vars.$font-24;
        font-weight: bold;
        margin: 0;
        color: vars.$fontcolor;
    }
}

.react-grid-item{
    border: none;
}
img{
    max-width: 100%;
    display: block;
}
.widget-header-style {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    align-items: baseline;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-drag {
    opacity:0;
    /* Start with the icon invisible */
    transition: opacity 0.5s ease;
    /* Smooth fade-in effect */
    font-size: 24px;
    /* Adjust icon size as needed */
    color: vars.$bg-white;
    /* Icon color */
    &:hover{
        cursor: pointer;
    }
    &:active{
        cursor: grab;
    }
}
.btn_style{
    background-color: vars.$bg-green;   
    color: vars.$bg-white;
    padding: 16px 33px;
    font-size: vars.$font-14;
    transition: vars.$transition;
    &:hover{
        background-color: vars.$bg-blue;
    }
}
.section_{
    padding: 50px 0;
}
.title_{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
ul{
   padding-left: 0 !important;
    margin: 0;
    li{
        list-style: none;
    }
}
.navbar-nav {
    .nav-item {

        button {
            padding: 0.5rem 2.2rem 0.5rem 0;
            background: transparent;
            border: none;
        }

        ul {
            position: absolute;
            inset: 0px auto auto 0px;
            margin: 0px;
            transform: translate(0px, 42.5px);
            background: rgb(10, 34, 59);
            border: none;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }
    }
}
.dropdown .dropdown-toggle::after{
    width: 12px;
    height: 12px;
    border: none;
    background: url(images/dropdown-arrow.png) no-repeat;
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.card-body{
    color: vars.$fontcolor !important;
    .card-header{
        background-color: transparent;
    }
}