/* TechRoadmap.scss */
.tech-roadmap {
    display: flex;
    flex-direction: column;
  }
  
  .roadmap-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: linear-gradient(to bottom, #6a82fb, #fc5c7d); /* Example gradient */
    margin-bottom: 10px;
  
    h2 {
      color: white;
      font-size: 20px;
      margin-right: 20px;
    }
  
    .roadmap-items {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  /* RoadmapItem styling */
  .roadmap-item {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #333;
  }
  