.background-top{
    background-image: url('https://s3-alpha-sig.figma.com/img/f043/9762/116ca53ab1b3e3a81a01f18847acf12b?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GjUQMPtUc~YrQk1V-9AJhKTYvVRGIvN4xSXUiocfrlbxAJNlbc1IWKwfn4awdJbgB6H-1JkBtJkonTSP1lwfUBYrtkBBqetSMQFDkhE22C3LrZOov8MocpxG27qHHFUGtXZuUaG0s8-B8DKLvYY-MJSLtjoKdoDSMpqzgT12mgL-umxTHer3U~eaZomTi~78PnE9lvyeOqnW1sC7CXar08S7qx47N9Dppn2j59n1LjpfTtYM2OP1Eez~Be4YYS4RslokWvbyKdhXTywpL3QKobY0UY9eCxobSBzDO6qgzn0hTWO8VWYY~ohKPxC2~TiiY8o~at0vsCdIpv~Y~kGXmw__') !important;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    background-size: cover;
    background-clip: content-box;
}
.header{
    padding: 0 60px;
    position: relative;
    .search-container {
        position: relative;
        flex: 1;
        input {
            width: 100%;
            padding: 10px 40px 10px 35px;
            /* Left and right padding to accommodate icons */
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 20px;
            outline: none;
        }
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
            color: #1E49E2 !important;
        }
        .bi-search {
            left: 11px;
            position: absolute;
            top: 25px;
        
        }
    }
}





 

 