@import url('../../../node_modules//react-grid-layout/css/styles.css');
@import url('../../../node_modules/react-resizable/css/styles.css');

.admin-section {
  margin: 0 !important;

  .editor-container {
    display: flex;
    flex-direction: row;
    height: 100vh;

    .left-panel {
      flex: 0.5;
      border-right: 1px solid rgb(230, 230, 230);

      .widget-crud {

        position: relative;
        display: flex;
        flex-direction: column;

        .dropdown {
          padding-left: 12px;
        }

        .save-panel {
          padding: 12px;
          display: flex;
          flex-direction: row;
          gap: 10px;
          justify-content: flex-start;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

          button {
            outline: none;
            border: none;
            border-radius: 8px;
            padding: 8px 12px;
            display: flex;
            flex-direction: row;
            gap: 10px;

            i {
              font-size: 20 px;
              top: 10px
            }
          }

          .pnl-save {
            background: blue;
            color: #FFF;


          }

          .pnl-reset {
            background: #c5c5c5;
          }
        }
      }

      .widget-list-container {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 8px 2px;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          cursor: pointer;
        }
      }

    }

    .template-layout {
      flex: 2;
      border-right: 1px solid rgb(230, 230, 230);
      background-color: #f0f0f0;

      .layout-contianer {
        background-color: #fff;
        margin: 20px 2rem;
        height: 88vh;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        .react-grid-layout {
          min-height: 100vh;
          min-width: 100vh;
        }

        // .layout {
        //     min-height: 88vh !important;
        //     min-width: 50vh;
        //     background: rgb(221, 221, 221) !important;
        // }
      }
    }

    .right-panel {
      flex: 0.5;



      .template-properties {

        .header {
          padding: 12px 12px;
          font-weight: 700;
          border-bottom: 1px solid rgb(228, 228, 228);
        }

        .dimension,
        .position,
        .properties {
          .title {
            font-weight: 700;
          }

          .accordion-body {
            padding: 0px;
          }

          .hw,
          .mh-mh,
          .mw-mw,
          .xy {
            padding: 12px 12px;
            display: flex;
            flex-direction: row;
            gap: 9px;

            div {
              display: flex;
              flex-direction: column
            }

            ;

            input {
              width: 70px;

            }

            ;

            span {
              font-weight: 700;
            }
          }

          border-bottom: 1px solid rgb(228, 228, 228);

        }
      }
    }
  }
}

.app-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-panel,
.right-panel {
  width: 45%;
}

.widget-item {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}




.layout-item {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

.layout {

  /* Adds padding around the entire layout */

  /* Optional background for better visibility */
}

.layout-item {
  border: none !important;
  padding: 0px;
  background: none;
}




body {
  padding: 20px;
}

#content {
  width: 100%;
}

.react-grid-layout {
  margin-top: 10px;
}

.layoutJSON {
  background: #ddd;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}

.react-grid-item {
  box-sizing: border-box;
}

.react-grid-item:not(.react-grid-placeholder).selected {
  
  // border: 1px solid black;
  border-radius: 12px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.react-grid-item.resizing {
  opacity: 0.9;
}

.react-grid-item.static {
  background: #cce;
}

.react-grid-item .minMax {
  font-size: 12px;
}

.react-grid-item .add {
  cursor: pointer;
}

.react-grid-dragHandleExample {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.toolbox {
  background-color: #dfd;
  width: 100%;
  height: 120px;
  overflow: scroll;
}

.hide-button {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 0px;
  right: 5px;
}

.toolbox__title {
  font-size: 24px;
  margin-bottom: 5px;
}

.toolbox__items {
  display: block;
}

.toolbox__items__item {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  background-color: #ddd;
}

.droppable-element {
  width: 150px;
  text-align: center;
  background: #fdd;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

h1,
p {
  font-family: Lato;
}

.react-grid-item {
  border: 1px solid lightgray;
}

.toolbox-item {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: 1px solid lightgray;
  margin: 10px;
}


.card-widget {
  margin: 0px;
}