@import '../../../styles/variables.scss';
.card-widget.chart_card {
    background: $gradiant4;


    .card-header {
        

        .header-left {
            display: flex;
            align-items: center;

            .icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #e7e7e7;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;

                i {
                    font-size: 16px;
                    color: #757575 !important;
                }
            }

           
        }

        .header-right {
            .icon {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #f0f0f0;
                border: 1px solid rgb(156, 156, 156);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                cursor: pointer;

                i {
                    font-size: 16px;
                }

                &:hover {
                    background-color: #e0e0e0;
                }
            }
            
        }
        
    }

    .card-body {
        padding: 15px;
        overflow: hidden;

        .tabs {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            background-color: transparent;

            button {
                background: transparent !important;
            }

            .tab {
                background-color: #f0f0f0;
                padding: 10px;
                border: none;
                cursor: pointer;
                flex: 1;
                text-align: center;
                border-radius: 4px;
                transition: background-color 0.3s;

                &.active {
                    border-bottom: 1px solid #000;
                    border-radius: 0px;
                }

                &:hover {
                    background-color: #e0e0e0;
                }
            }
        }

        .tab-content {
            .tab-pane {
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }
}
