/*======================
    404 page
=======================*/

@use './../../styles/variables.scss' as vars;

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    height: 89.5vh;
    font-family: vars.$fontfamily !important;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    left: 10%;
    position: relative;
}


.four_zero_four_bg {
    color: #0a223b;

    h1 {
        font-size: 80px;
    }



}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
    position: relative;
    left: 10%;
    color: #0a223b;

    p {
        font-size: 18px;
    }

    a {
        background-color: #0a223b;
        color: #fff;
    }
}